
.main{
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    background-color: #ffffff;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
}
.left-bar{
    width: 21vw;
    height: 100vh;
    margin: 0 0;
    background: linear-gradient(90deg, rgb(254, 254, 254),#d3e7f6,#b3d9f5,#7abded, #69b3f5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 0.3vw solid #3d98e8;
    box-shadow: 0 0 1vw #051a3d;
    z-index: 1;
}

.content-container{
    width: 79vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.user{
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 4.5vw;
}

.user-picture{
    
    background-color: white;
    border: 0.3vh solid rgb(255, 255, 255);
    box-shadow: 0 0 0.7vh #1b025bc5;
}

.user-name{
    font-size: 3vh;
    margin-left: 1vw;
    color: #1b025b;
    font-weight: 650;
    text-decoration: dotted;
}

.title-main{
    margin-top: 3.5vh;
    color: #0153a5;
    margin-bottom: 2vh;
    font-size: 8vh;
}

.sidebar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    margin-top: 4vh;
    gap: 1.5vh;
}

.sidebar-button{
    width: 15vw;
    height: 5vh;
    text-align: left;
    padding-left: 1vw;
    border: solid 0.2vh white;
    background-color:#ffffff2a ;
    border-radius: 1vh;
    color:  #074d94;
    font-size: 2vh;
    gap: 2vw;
    transition: all 0.3s ease;
}

.sidebar-button:hover{
    background-color:#ffffff63;
    
}
.selected-button{
    background-color: #2f83cd54;
}

.material-icons{
    margin-right: 0.3vw;
} 

.log-out{
    background-color:#1865a87c;
    color: white;
    font-weight: 500;
    width: 6vw;
    height: 5vh;
    font-size: 2vh;
    border: 0.3vh solid white;
    border-radius: 5vh;
    margin-top: 34vh;
    transition: all 0.3s ease;
}
.log-out:hover{
    background-color:#1865a8bf;
}
.profile-bacground{
    margin-top: 10vh;
    box-shadow: 0 0 0.5vw #051a3d97;
}

.profile-cointeinetr{
    width: 60vw;
    height: 72vh;
    margin-top: 4vh;
    background-color: rgba(179, 214, 239, 0.95);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 7vh;
}

.user-picture-big{
    border: .5vh solid  #093053;
}

.cointeinetr-picture-and-logo{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vh;
}

.user-name-big{
    font-size: 6vh;
    margin-left: 0;
    margin-left: 1vw;
    color: #093053;
}

.user-informations{
    color: #04335b;
    margin-top: 1vh;
    font-size: 2vh;
}

.profile-description{
    width: 50vw;
    height: 6vh;
    background-color: rgb(216, 216, 216);
    margin-top: 2vh;
    font-size: 1.5vh;
}

.personal-data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.personal-data{
    font-weight: 500;
    margin-left: 0.5vw;
}

.decsription-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-description-etyqiet{
    font-size: 1.7vh;
    margin-bottom: 0.5vh;
    padding-left: 1vh;
    

}

.profile-description-box{
    background-color: rgba(255, 255, 255, 0.796);
    width: 50vw;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 1vh;;
    padding-left: 1vh;
    color: #260578fb;
    font-size: 1.5vh;
    text-align: left;
}

.profile-edit-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4vh;
    gap: 4vw;
    margin-bottom: 8vh;
}

.profile-edit-button{
    background-color:#0669c0d9;
    color: white;
    font-weight: 350;
    width: 12vw;
    height: 4.5vh;
    font-size: 1.9vh;
    border: 0.3vh solid white;
    border-radius: 3vh;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.4vw #051a3d97;
}
.profile-edit-button:hover{
    background-color:#01427bd9;
    transition: all 0.3s ease;
}

.pub-key-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 3vw;
    text-align: left;
    width: 100%;
    font-size: 0.7vw;

}
.pub-key{
    width: 5vw;

}
.profile-number-of-post-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1.2vw;
    width: 100%;
    margin-left: -5vw;
}

.profile-number-of-post-number-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 0.5vw;
    margin: 0;
}
.profile-number-of-post-number{
    font-weight: 500;
}

.profile-number-of-post{
    color: #044279;
    font-size: 1.5vh;
}

.profile-number-of-post-button{
    background-color:#034e90c0;
    color: white;
    font-weight: 350;
    width: 7.5vw;
    height: 2.7vh;
    font-size: 0.7vw;
    border: 0.2vh solid white;
    border-radius: 1vh;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.3vw #051a3d97;
}

.profile-number-of-post-button:hover{
    background-color:#024076ee;
    transition: all 0.3s ease;
}







.content-container-new-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container-new-message-txt{
    width: 60vw;
    height: 72vh;
    background-color: rgba(255, 255, 255, 0.961);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 7vh;
    border: 0.5vh solid rgb(255, 255, 255);
    box-shadow: 0 0 0.4vw #2b3d80d0;

    
}

.new-message-heading{
    font-size: 4vh;
    color: #024a89;
    font-weight: 500;
    margin-top: 2vh;
}

.new-post-form{
    width: 42vw;
    height: 41vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0.2vh;
    color: #024a89;
    font-size: 1.6vh;
    font-weight: 500;
    gap: 0.3vh;
    border-radius: 7vh;
}

.new-message-form-input{
    width: 95%;
    border-radius: 0.5vh;
    border: 0.18vh solid #023b6c;
    background-color:  #e2effc;
    color: #024a89;
    font-size: 1.3vh;
    font-weight: 400;
    padding: 0.4vh;
    
}
.new-message-form-input-picture{
    color: #024a89;
}
.new-message-form-input-picture::placeholder{
    color: grey;
}

.styling-text-description{
    font-size: 1.3vh;
    font-weight: 450;
    padding: 0.4vh;
}
.new-message-form-textarea{
    width: 96%;
    color: #024a89;
}

.new-message-form-textarea::placeholder{
    color: grey;
}


.form-button{
    background-color:#074b86d9;
    color: white;
    font-weight: 350;
    width: 10vw;
    height: 3.5vh;
    font-size: 1.5vh;
    border: 0.2vh solid white;
    border-radius: 2vh;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.4vw #051a3d97;
    display: flex;
    justify-content: center;
    padding: 0.3vh 0.5vh;
    padding-bottom: -0.4vh;
    align-items: center;
}

.form-button:hover{
    background-color:#062b4cd9;
    transition: all 0.3s ease;

}
.new-message-generate-signiature-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -2.5vw;
    align-items: flex-start;
    margin-top: 2vh;
    
}
.new-message-generate-signiature{
    width: 7.5vw;
    height: 3vh;
    font-size: 1.2vh;
}

.new-message-submit-button{
    background-color:#1161a8d9;
    font-weight: 500;
    margin-top: 2vh;
    align-self: center;
}

.success-message{
    font-size: 1.5vh;
    font-weight: 400;
    color: #1d95ff;
    margin-top: 1vh;
    align-items: center;
}



.messages-container {
    height: 100vh; /* Ustaw maksymalną wysokość */
    width: 45vw;
    overflow-y: auto; /* Włącza przewijanie w pionie */
    padding: 2rem;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Odstęp między dymkami */
    background-color: #c0d9f0f1;
    box-shadow: 0 1vh 0.8vw #8da0b1;
    
}

.message-bubble {
    width: 35vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fffffff7;
    border-radius: 1vh;
    padding: 0.1vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 1.4vh;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0.4vh;
    margin-bottom: 0.5vh;
    color: #000000;
    font-weight: bold;
    font-size: 1.5vh;
    width: 100%;
    
}
.message-username{
    margin-left: 0.5vw;
}
.message-date {
    color: #616161;
    font-size: 1.3vh;
    margin-right: 0.5vw;
    font-weight: 400;
    
}

.message-image {
    min-width: 15vw;
    min-height: 20vh;
    max-width: 30vw;
    max-height: 40vh;
    margin-top: 1vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    object-fit: cover;
}

.message{
    width: 87%;
    display: block;
    text-align: left;
    margin-top: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-bottom: 1.5vh;
    word-wrap: break-word;
}
.message span {
    display: inline; 
}

.message br {
    display: inline; 
}

/* Wrapper dla podpisu */
.message-signature-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 1.1vh;
    padding: 0.5vh;
    margin-right: 1.5vh;
    color: gray;
    overflow-wrap: break-word;
}

.message-signature-wrapper.clickable {
    cursor: pointer;
    color: blue;
}

.message-signature-wrapper:not(.clickable) {
    cursor: default;
    color: gray;
}



/* Wrapper dla podpisu */
.message-signature-wrapper {
    position: relative; /* Podstawowy punkt odniesienia dla okienka */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1vh;
    padding: 0.5vh;
    margin-right: 2.5vh;
    color: gray;
    overflow-wrap: break-word;
}

/* Skrócony podpis */
.signature-collapsed {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7vw;
}

/* Rozwinięty podpis */
.signature-expanded {
    position: absolute; /* Względem .message-signature-wrapper */
    top: 100%; /* Poniżej podpisu */
    right: 0; /* Wyrównanie do lewej */
    z-index: 1000;
    display: block;
    white-space: normal;
    word-wrap: break-word;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}








.styling-instruction{
    margin-top: 0.3vh;
    width: 45vw;
    height: 21.5vh;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vw rgba(34, 34, 34, 0.175);;
    background-color: rgba(255, 255, 255, 0.766);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.header-styling{
    margin-top: 1vh;
    font-size: 0.7vw;
    font-weight: 500;
    margin-bottom: 1.5vh;
}

.styling-instruction-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 3vw;
}
.instruction{
    margin-left: 0.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.9vw;
    margin-top: 0.5vh;
    width: 100%;
    font-size: 0.7vw;
}

.section{
    font-size: 0.8vw;
    font-weight: 500;
    margin-bottom: 0.3vh;
    margin-top: 0.3vh;
}

.text-styling{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; 
}

.arrow{
    font-size: 0.7vw;
    font-weight: 700;
    width: 0.2vw;
}

.small-header{
    margin-left: 0.2vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7vw;
}

.markdown-bold-result {
    font-weight: bold;
   
}

.markdown-italic-result {
    font-style: italic;
    
}

.markdown-bold-italic-result {
    font-weight: bold;
    font-style: italic;
}

.instruction-color{
    margin-top: 0.05vh;
}


.markdown-red-result {
    color: red;
}

.markdown-green-result {
    color: green;
}

.markdown-blue-result {
    color: blue;
}
.markdown-purple-result {
    color: purple;
}
.markdown-orange-result {
    color: orange;
}


.text-orange {
    color: orange;
}

.text-purple {
    color: purple;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-blue {
    color: blue;
}
